<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    <script>
        $(document).ready(() => {
            //insert students
            $("#register").submit((e)=>{
            e.preventDefault()
            let formData= new FormData($("form")[0])
            $.ajax({
            type: "POST",
            url: "/register",
            cache: false,
            data:formData,
            processData: false,
            contentType:false,
            success: res => {
                console.log(res)
            }
        })
    })
    
    //load students
            $("#load-students").click(() =>{
                $.ajax({
                    url:"list-rest",
                    cache: false
                }).done(data =>{
                    students=JSON.parse(data)
                    let tBodyHtml=''
                    for(let row of students){
                        tBodyHtml +=`<tr>
                        <td>${row['name']}</td>
                        <td>${row['phone']}</td>
                        </tr>
                        `
                    }
                    $("#students-table tbody").html(tBodyHtml)
                })
            })
    
        
            $("#search").submit((e) =>{   
                e.preventDefault()
                $.ajax({
                    url:"/select",
                    cache: false
                }).done(data =>{
                    students=JSON.parse(data)
                    let tBodyHtml=''
                    for(let row of students){
                        tBodyHtml +=`<tr>
                        <td>${row['name']}</td>
                        <td>${row['phone']}</td>
                        </tr>
                        `
                    }
                    $("#searching-table tbody").html(tBodyHtml)
                })
            })
        
            
            //delete button alert
            $("#delete_btn").click(() => {
                alert("삭제되었습니다");
            })
            
            //register button alert
            $("#register_btn").click(() => {
                alert("등록되었습니다");
            })
    })
    </script>
</head>
<body>
    This is web for searching contact information.
    Search your name!
    <br/>
    <h3>학생 등록</h3>
    <form method="POST" id="register">
        <input type="text" name="name" placeholder="Your Name"/>
        <input type="text" name="phone" placeholder="Your Phone number"/>
        <button type="submit" id="register_btn">등록하기</button>
    </form>

    <h3>학생 검색 및 삭제</h3>
    <form id="search" method="GET">
        <input type="text" name="name_to_search" placeholder="Name to search">
        <button id="select_btn">검색하기</button>
    </form>
    


    <form action="{{url_for('delete')}}" method="POST">
        <input type="text" name="name_to_delete" placeholder="Name to delete">
        <button type="hidden" value="{{name}}" id="delete_btn">삭제하기</button>
    </form>

    <form action="{{url_for('update')}}" method="POST">
        <input type="text" name="name_to_update" placeholder="Name to update">
        <input type="text" name="phone_to_update" placeholder="New number">
        <button type="hidden" value="{{name}}, {{phone}}" id="update_btn">수정하기</button>
    </form>

    <h3>검색 결과</h3>
    <table id="searching-table">
        <thead>
            <tr>
            <th>Name</th>
            <th>Phone</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <br/>
    <h3>학생 전체 명단</h3>
    <button id="load-students">전체 불러오기</button>
    <table id="students-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</body>
</html>