<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>
    <br/>
    <h1>학생 명단</h1>
    <table>
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Phone
                </th>
            </tr>
        </thead>
        <tbody>
            {% for row in students %}
            <tr>
                <td>
                    {{ row['name'] }}
                </td>
                <td>
                    {{ row['phone'] }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>